<header class="app-header navbar">
  <div class="nav navbar-nav" [ngClass]="logoPath?'h-100':''">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-lg-none h-100" href="#">
      <img src="{{logoPath}}" class="sis-brand-logo mr-3 h-100" *ngIf="logoPath"/>
      <span *ngIf="!header || !header.abbr.trim().length;else brandedAbbr"><span class="sis-brand-bold">Univer</span>SIS</span>
    </a>

    <a class="nav-item nav-link sis-brand pl-3 d-none d-lg-block h-100" href="#">
      <img src="{{logoPath}}" class="sis-brand-logo mr-3 h-100" *ngIf="logoPath" />
      <span *ngIf="!header; else branded"><span class="h-100 align-middle"><span class="sis-brand-bold">Student</span> Information System</span></span>
    </a>
    <ng-template #branded>
      <span class="h-100 align-middle">{{header.body}}</span>
    </ng-template>
    <ng-template #brandedAbbr>
      <span >{{header.abbr}}</span>
    </ng-template>

  </div>

  <ul class="nav navbar-nav d-sm-down-none ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item px-2 dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span [translate]="'Courses'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/courses']">
          <span [translate]="'CoursesCurrent'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/courses/history']"><span [translate]="'CoursesHistory'"></span></a>
      </div>
    </li>
    <li class="nav-item px-2 dropdown d-none d-md-block" dropdown placement="bottom right">
      <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']"><span [translate]="'Projects'"></span></a>-->

      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span [translate]="'Theses'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-center" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/theses/current']">
          <span [translate]="'ThesesCurrent'"></span>
        </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/theses/completed']">
          <span [translate]="'ThesesCompleted'"></span>
        </a>
      </div>
    </li>
    <li class="nav-item px-2 d-none d-md-block">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/students']"><span
          [translate]="'Students'"></span></a>
    </li>
    <li class="nav-item dropdown d-none d-md-block mx-1" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>{{ 'supportMenu.Support' | translate }}<i class="ml-1 fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/info/department']"><span [translate]="'DepartmentInfo'"></span>
          </a>
        </li>
        <li role="menuitem" *ngFor="let item of navigationLinks">
          <a class="dropdown-item" target="_blank" href="{{item.url}}" rel="noopener noreferrer"><span>{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="getMessages(); false">
        <i class="icon-bell"></i><span *ngIf="numOfMsg[0]?.total>0" class="badge badge-pill badge-danger">{{numOfMsg[0]?.total}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown" >
        <div *ngIf="waitForMessages">
          <div class="dropdown-header text-center">
            <strong> {{'Messages.Youhave' | translate}} {{numOfMsg[0]?.total}} {{'Messages.NewMessages' | translate}}</strong>
          </div>
          <div class="ph-row mt-3">
            <div class="ph-col-2 ml-2 big"></div>
            <div class="ph-col-8 ml-2 big"></div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="ph-row ">
            <div class="ph-col-2 ml-2 big"></div>
            <div class="ph-col-8 ml-2 big"></div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="ph-row ">
            <div class="ph-col-2 ml-2 big"></div>
            <div class="ph-col-8 ml-2 big"></div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="ph-row ">
            <div class="ph-col-2 ml-2 big"></div>
            <div class="ph-col-8 ml-2 big"></div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'| translate}} </a>
        </div>
        <div *ngIf="(messages && messages.length>0) && !waitForMessages">
          <div class="dropdown-header text-center">
            <strong> {{'Messages.Youhave' | translate}} {{numOfMsg[0]?.total}} {{'Messages.NewMessages' | translate}}</strong>
          </div>
          <div class="pt-2" style="min-width:245px;">
            <div *ngFor="let message of messages" [ngClass]="(message?.dateReceived === null)?'font-weight-bold':'text-secondary'"
                 class="px-3">
              <div class="flex-container row">
                <div class="col-2">
                  <div class="d-flex h-100"><i class="far fa-2x fa-envelope-open m-auto text-success"></i></div>
                </div>
                <div class="col-10">
                  <div class="text-right text-secondary tooltip-small-text">
                    <span>{{message.dateCreated | date: 'dd-MM-yy h:mm a'}}</span>
                  </div>
                  <span class="d-block text-truncate text-dark" style="max-width:160px">
                    <span *ngIf="message.subject != null; else noAction">{{message.subject}}</span>
                      <ng-template #noAction>
                        <span>{{'Messages.NoSubject' | translate}}</span>
                      </ng-template>
                  </span>
                  <span class="d-block text-secondary tooltip-small-text text-truncate " style="max-width:160px" [innerHTML]="message.body"></span>
                  <div class="text-right text-secondary tooltip-small-text">
                    <span>{{'Messages.Sender' | translate}} {{message.sender.alternateName}}</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
            <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'| translate}} </a>
          </div>
        </div>
        <div *ngIf="(!messages || messages.length == 0) && !waitForMessages">
          <div  class="dropdown-header text-center"><strong> {{'Messages.NoNewMessages' | translate}} </strong></div>
          <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'| translate}} </a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown d-none d-lg-block px-2" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        {{user && user.name}} <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileTitle'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/auth/logout']"><span [translate]="'Logout'"></span></a>
      </div>
    </li>
    <li class="nav-item dropdown d-none d-md-block d-lg-none" dropdown placement="bottom right">
      <a class="nav-link ml-0" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle><i class="ml-1 fa fa-user"></i></a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileTitle'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/auth/logout']"><span [translate]="'Logout'"></span></a>
      </div>
    </li>

    <!--Language switch dropdown menu-->
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-md-block px-2" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle>
        {{currentLang}}<i class="ml-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language===currentLang" type="button"
            (click)="changeLanguage(language)">{{language}}</button>
        </li>
      </ul>
    </li>
  </ul>
</header>

<div class="app-body">
  <app-sidebar *ngIf="navItems" [display]="'md'" class="d-md-none d-sm-block">
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<footer class="app-footer d-none">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
