<!--  Form -->
<div class="mt-4" *ngIf="showMessageForm">
  <div class="card">
    <div class="card-body">
      <form #responseForm="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-lg text-secondary" for="subject" [translate]="'Messages.toStudents.Subject'"></label>
              <textarea class="form-control" id="subject" rows="1" required [(ngModel)]="messageModel.subject"
                        [maxLength]="512" name="subject"
                        placeholder="{{'Messages.toStudents.SubjectPlaceHolder' | translate}}" ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="font-lg text-secondary" for="response" [translate]="'Messages.toStudents.Body'"></label>
              <textarea class="form-control" id="response" rows="3" required [(ngModel)]="messageModel.body"
                        [maxLength]="512" name="messageBody"
                        placeholder="{{'Messages.toStudents.BodyPlaceHolder' | translate}}" ></textarea>
            </div>
          </div>
        </div> <div class="row mt-4">
          <div class="col-12 col-md-12 text-center">
            <button class="btn btn-md text-light bg-success px-4 mt-2" type="button" (click)="save()"
                    [translate]="'Buttons.Send'" [disabled]="responseForm.invalid"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
